/* CSS RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, button,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, button {
	display: block;
}

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

img {
  max-width: 100%;
}

html {
  font-size: 14px;
}
/* CSS RESET */

:root {
  --clr-neutral-dm-elements: hsl(209, 23%, 22%);
  --clr-neutral-dm-bg: hsl(207, 26%, 17%);

  --clr-neutral-lm-txt: hsl(200, 15%, 8%);
  --clr-neutral-lm-input: hsl(0, 0%, 52%);
  --clr-neutral-lm-bg: hsl(0, 0%, 98%);

  --clr-neutral-white: hsl(0, 0%, 100%);

  --ff-primary: 'Nunito Sans', sans-serif;
}

body,
button,
input,
select,
option {
  font-family: var(--ff-primary);
  border: none;
  background-color: var(--clr-neutral-white);
}

select {
  border-right: 1rem solid transparent
}

a.nostyle:link {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}

a.nostyle:visited {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}

::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(128, 128, 128, 0.363);
  box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

.bg-gray {
  background-color: var(--clr-neutral-lm-input);
}

.bg-light {
  background-color: var(--clr-neutral-lm-bg);
}

.bg-dark {
  background-color: var(--clr-neutral-dm-bg);
}

.bg-white {
  background-color: var(--clr-neutral-white);
}

.card_shadow_round {
  box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.25);
  border-radius: 0.5rem;
}

.icon {
  max-width: 1rem;
  background-color: var(--clr-neutral-white);
}

.header {
  padding: 2rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_text {
  font-size: clamp(1rem, 3.5vw, 2rem);
  padding-left: clamp(0.5rem, 4vw, 5rem);
  font-weight: 800;
}

.btn {
  border: none;
}

.darkMode_btn {
  white-space: nowrap;
  gap: 0.5em;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.darkMode_btn_text {
  font-size: clamp(1rem, 2vw, 1.2rem);
  padding-right: clamp(0.5rem, 4vw, 5rem);
}

.main {
  width: 90%;
  margin: 0 auto;
}

.filter {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.filter_input {
  background-color: var(--clr-neutral-white);
  padding: 1rem;
  border-radius: 0.5rem;
}

.search_text {
  width: 100%;
  padding: 0.5rem;
}

.filter_input--search {
  display: flex;
  gap: 1rem;
}

.filter_input--regions {
  font-weight: 600;
  max-width: 15rem;
}


.countryList {
  margin-top: 3rem;
  margin-bottom: 6rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 4rem;
}

.countryCard {
  overflow: hidden;
  width: 20rem;
  background-color: var(--clr-neutral-white);
}

.countryCard_img_container {
  height: 186px;
}

.countryCard_img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.countryCard_info {
  padding: 2rem;
  text-align: left;
}

.countryCard_info_name {
  font-size: 1.3rem;
  font-weight: 800;
  margin-bottom: 1rem;
}

.countryCard_info_label {
  font-weight: 600;
}

.countryCard_info_element + * {
  margin-top: 0.5rem;
}

/* DETAILS HTML */

.details_btn_back {
  padding: 0.5rem 2rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
  font-weight: 600;
}

.main-container > * {
  max-width: 30rem;
  margin: 0 auto;
}

.main-container {
  margin-top: 3rem;
}

.details_flag {
  height: 100%;
  display: block;
  width: min(100%, 30rem);
}

.details_title {
  margin-top: 2rem;
  font-size: 1.5rem;
  font-weight: 800;
}

.details_info {
  margin-top: 1.5rem;
}

.details_info li + *{
  margin-top: 0.75rem;
}

.details_info li span,
h2 {
  font-weight: 600;
}

.details_info_p2 {
  margin-top: 2rem;
}

.details_borders {
  margin-top: 3rem;
}

.border_btn {
  width: min(40%, 10rem);
  padding: 0.5rem 0;
  border-radius: 0.25rem;
  font-weight: 600;
  box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.05);
}

.details_borders_countrylist {
  margin-top: 1rem;
  margin-bottom: 3rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.hidden * {
  display: none;
}

@media (min-width: 40em) {
  .filter {
    flex-direction: row;
    justify-content: space-between;
  }
  .filter_input--search {
    width: 33%;
  }
}

@media (min-width: 60em) {

  html {
    font-size: 16px;
  }

  .main-container > * {
    margin-inline: 0;
  }

  .main-container {
    display: flex;
    justify-content: center;
    gap: min(10%, 8rem);
  }

  .details_info {
    display: flex;
    gap: 20%;
  }

  .details_info_p2 {
    margin: 0;
  }

  .details {
    max-width: 40rem;
    width: 100%;
  }

  .details_flag {
    margin: none;
  }
}